body {
    background-color: bisque;
    color: brown;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

header {
    background: linear-gradient(to top, black, palevioletred);
    color: lightgoldenrodyellow;
    padding: 15px; 
    font-size: 16pt;
}

footer {
    background: linear-gradient(to bottom, black, palevioletred);
    color: lightgoldenrodyellow; 
    padding: 15px; 
    font-size: 10pt; 
    text-align: right; 
    font-style: italic;
}

a {
    color: green;
    text-decoration: none;
}

a:visited {
    color: rgba(199, 25, 106, 0.932);
    background-color: palevioletred;
}

a:hover {
    color: rgb(93, 145, 41);
    text-decoration: underline;
    background-color: rgb(255, 255, 255);
    font-weight: bold;
}

a:active {
    color: green;
    background-color: palevioletred;
}