body {
    background-color: bisque;
    color: brown;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

header {
    background-color: black; 
    color: lightgoldenrodyellow; 
    padding: 15px; 
    font-size: 16pt;
}

footer {
    background-color: black; 
    color: lightgoldenrodyellow; 
    padding: 15px; 
    font-size: 10pt; 
    text-align: right; 
    font-style: italic;
}
