body {
    background-color: bisque;
    color: brown;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

header {
    background: linear-gradient(to top, black, palevioletred);
    color: lightgoldenrodyellow;
    padding: 15px; 
    font-size: 16pt;
}

main {
    margin: 10px 20px;
}

header:hover {
    background: linear-gradient(to top, black, bisque);
}

header:active {
    color: bisque;
    font-size: 20px;

}

footer {
    background: linear-gradient(to bottom, black, palevioletred);
    color: lightgoldenrodyellow; 
    padding: 15px; 
    font-size: 10pt; 
    text-align: right; 
    font-style: italic;
}

footer:hover {
    background: linear-gradient(to bottom, black, gray);
}

footer:active {
    color: bisque;
    font-size: 20px;
}

a {
    color: green;
    text-decoration: none;
    transition: 600ms 2s;
    text-shadow: 3px 3px 2px gray;
}

a:visited {
    color: rgba(199, 25, 106, 0.932);
    background-color: palevioletred;
}

a:hover {
    color: rgb(93, 145, 41);
    text-decoration: underline;
    background-color: rgb(255, 255, 255);
    font-weight: bold;
    transition: 600ms;
}

a:active {
    color: green;
    background-color: palevioletred;
}

