menu {
    text-decoration: none;
    font-weight: bolder;
    position: fixed;
    top: -20px;
    background-color: white;
    height: 70px;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    line-height: 60px;
}