body{
    background-color: rgb(235, 235, 245);
    color: black;
    font-family: 'Courier New', Courier, monospace;
    margin: 0px;
}

main {
    margin: 100px 20px;
}

menu {
    text-decoration: none;
    font-weight: bolder;
    font-size: 18px;
    position: fixed;
    top: -20px;
    height: 70px;
    text-align: center;
    vertical-align: middle; 
    line-height: 90px;
    background-color: white;
    right: 0;
    width: 100%;
}
a {
    text-decoration: none;
    color: black;
    margin-right: 30px;
}
a:hover {
background-color: rgb(229, 139, 12);
border-radius: 4px;
}